<div class="col-md-9">
    {% if page_obj.has_other_pages %}

    <nav aria-label="...">
        <ul class="pagination font-weight-normal">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="?{{ page_name }}={{ page_obj.previous_page_number }}{{ other_page }}={{ other_obj.number }}"
                   tabindex="-1"><<</a>
            </li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
            {% if page_obj.number == page %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?{{ page_name }}={{ page }}">{{ page }} <span
                        class="sr-only">(current)</span></a>
            </li>
            {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3 %}
            <li class="page-item">
                <a class="page-link" href="?{{ page_name }}={{ page }}{{ other_page }}={{ other_obj.number}}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="?{{ page_name }}={{ page_obj.next_page_number }}{{ other_page }}={{ other_obj.number }}">>></a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

