/* Common styles
/*
:root {
    --percent-20: 20%;
    --percent-30: 30%;
}

.sidebar-width {
    max-width: var(--percent-20);
}

.content-left {
    margin-left: var(--percent-20);
    padding-left: var(--percent-20);
}*/

.block {
  border: 1px solid red;
}

.block-height {
    height: 100px;
}

.errorlist {
    color: red;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}
