{% extends 'base.html' %}
{% load proglib_filters %}

{% block title %}
    <title>Vertek</title>
{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10" style="padding-left: 0px; padding-right: 0px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="col-sm card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-bold">{{ object.title }}</h4>
              <a href="/{{ object_edit_link }}">Редактировать</a>
            <span class="pull-right">Категория:
              <a class="category" href="{{ object.category.get_absolute_url }}">{{ object.category }}</a>
            </span>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ object.func }}
              <small class="text-muted">/ {{ object.version }}</small>
              <small class="text-muted pull-right" style="font-size: 30%">
                обновлено:
                {{ object.updated_at }}
                <br>
                автор:
                {% for author in object_author %}
                <a href="{{ author.get_absolute_url }}">{{ author }}</a>
                {% endfor %}
              </small>
            </h1>
            {{ object.content|safe }}
          </div>
        </div>
      </div>
      <div class="col-sm">

        <div class="row">

          {% comment %}
          {% if object.photo %}
          <div class="col">
            <div class="col-sm card mb-4 shadow-sm">
              <div class="card-header">
                <div class="media">
                  <img class="mx-auto d-block" src="{{ object.photo.url }}" alt="{{ object.title }}" width="50">
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endcomment %}

          <div class="col-sm">
            <div class="col-sm card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Метки</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted"></small>
                </h1>
                {% for tag in object_tag %}
                <a href="{{ tag.get_absolute_url }}">{{ tag|add_symbol:'#' }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col">
            <div class="col-sm card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">PLC</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted"></small>
                </h1>
                {% for plc in object_plc %}
                <a href="{{ plc.get_absolute_url }}">{{ plc }}</a>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="col">
            <div class="col-sm card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">HMI</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted"></small>
                </h1>
                {% for hmi in object_hmi %}
                <a href="{{ hmi.get_absolute_url }}">{{ hmi }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-sm">
            <div class="col-sm card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Библиотека, примеры</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted"></small>
                </h1>
                {{ object.links|safe }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="col-sm card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Реальные проекты</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted"></small>
                </h1>
                {{ object.implements|safe }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}