{% extends 'base.html' %}
{% load proglib_filters %}
{% load comment_tags %} {# Loading the template tag #}

{% block title %}
    <title>Vertek</title>
{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10" style="padding-left: 0px; padding-right: 0px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="col-sm card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-bold">{{ object.title }}</h4>
              <a href="/{{ object_edit_link }}">Редактировать</a>
            <span class="pull-right">Категория:
              <a class="category" href="{{ object.category.get_absolute_url }}">{{ object.category }}</a>
            </span>
          </div>
          <div class="card-body">
            {% if not object_plc and not object_hmi and not object.links and not object.implements %}
              {% if object_tag %}
                Метки:
                {% for tag in object_tag %}
                  <a href="{{ tag.get_absolute_url }}">{{ tag|add_symbol:'#' }}</a> |
                {% endfor %}
              {% endif %}
            {% endif %}
            <h1 class="card-title pricing-card-title">{{ object.func }}
              <small class="text-muted">/ {{ object.version }}</small>
              <small class="text-muted pull-right" style="font-size: 30%">
                обновлено:
                {{ object.updated_at }}
                <br>
                автор:
                {% for author in object_author %}
                <a href="{{ author.get_absolute_url }}">{{ author }}</a>
                {% endfor %}
              </small>
            </h1>
            {{ object.content|safe }}
          </div>
        </div>
      </div>

      {% if object_plc or object_hmi or object.links or object.implements %}
      <div class="col-sm">
        <div class="row">
          {% comment %}
          {% if object.photo %}
          <div class="col">
            <div class="col-sm card mb-4 shadow-sm">
              <div class="card-header">
                <div class="media">
                  <img class="mx-auto d-block" src="{{ object.photo.url }}" alt="{{ object.title }}" width="50">
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endcomment %}

          {% if object_tag %}
          <div class="col-sm">
            <div class="col-sm card mb-4 shadow-sm">
              <div class="card-header">
                <h6 class="my-0 font-weight-bold">Метки</h6>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted"></small>
                </h1>
                {% for tag in object_tag %}
                <a href="{{ tag.get_absolute_url }}">{{ tag|add_symbol:'#' }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
        </div>

        <div class="row">

          {% if object_plc %}
          <div class="col">
            <div class="col-sm card mb-4 shadow-sm">
              <div class="card-header">
                <h6 class="my-0 font-weight-bold">PLC</h6>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted"></small>
                </h1>
                {% for plc in object_plc %}
                <a href="{{ plc.get_absolute_url }}">{{ plc }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}

          {% if object_hmi %}
          <div class="col">
            <div class="col-sm card mb-4 shadow-sm">
              <div class="card-header">
                <h6 class="my-0 font-weight-bold">HMI</h6>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted"></small>
                </h1>
                {% for hmi in object_hmi %}
                <a href="{{ hmi.get_absolute_url }}">{{ hmi }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
        </div>

        <div class="row">
          {% if object.links %}
          <div class="col-sm">
            <div class="col-sm card mb-4 shadow-sm">
              <div class="card-header">
                <h6 class="my-0 font-weight-bold">Библиотека, примеры</h6>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted"></small>
                </h1>
                {{ object.links|safe }}
              </div>
            </div>
          </div>
          {% endif %}
        </div>

        <div class="row">
          {% if object.implements %}
          <div class="col-sm">
            <div class="col-sm card mb-4 shadow-sm">
              <div class="card-header">
                <h6 class="my-0 font-weight-bold">Реальные проекты</h6>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted"></small>
                </h1>
                {{ object.implements|safe }}
              </div>
            </div>
          </div>
          {% endif %}
        </div>

      </div>
      {% endif %}

    </div>

    <div class="row">
      <div class="col-sm">
        <div class="col-sm card mb-4 shadow-sm">
          <div class="card-header">
            <h6 class="my-0 font-weight-bold">Комментарии</h6>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted"></small>
            </h1>
            {% comment %} call comment app tags {% endcomment %}
            {% render_comments object request %}
          </div>
        </div>
      </div>
    </div>

  </div>

</main>


{% endblock %}