{% extends 'base.html' %}
{% load proglib_filters %}
{% load static %}

{% block title %}
    <title>Vertek</title>
{% endblock %}


{% block content %}


<main role="main" class="col-md-9 ml-sm-auto col-lg-10" style="padding-left: 0px; padding-right: 0px;">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm">
                <div class="col-sm card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Результат поиска по запросу: <b><i>{{ get_search_str }}</i></b></h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">
                            <small class="text-muted"></small>
                        </h1>
                        {% comment %}
                        <div class="col-md-12 well">
                            <div class="container-fluid">
                                <div class="row">
                                    {% for obj in objects %}
                                    <div class="col-sm">
                                        <div class="col-sm card mb-4 shadow-sm">
                                            <div class="card-header">
                                                <h4 class="my-0 font-weight-normal">{{ obj.title }}</h4>
                                                <a href="{{ plc.get_absolute_url }}">{{ obj.title }}</a>
                                            </div>
                                            <div class="card-body">
                                                <h1 class="card-title pricing-card-title">
                                                    <small class="text-muted"></small>
                                                </h1>
                                                {{ obj.content|safe }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endcomment %}

                        {% if objects %}
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Имя</th>
                                    <th>Функция</th>
                                    <th>Версия</th>
                                    <th>ПЛК</th>
                                    <th>ЧМИ</th>
                                    <th>Метки</th>
                                    <th>Автор</th>
                                    <th>Изменение</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for obj in objects %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></td>

                                    {% if obj.get_model_type == 'lib_item' %}
                                        <td><a href="{{ obj.get_absolute_url }}">{{ obj.func }}</a></td>
                                        <td>{{ obj.version }}</td>
                                        <td>
                                            {% for plc in obj.plc.prefetch_related %}
                                            <a href="{{ plc.get_absolute_url }}">{{ plc }}</a>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for hmi in obj.hmi.prefetch_related %}
                                            <a href="{{ hmi.get_absolute_url }}">{{ hmi }}</a>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for tag in obj.tag.prefetch_related %}
                                            <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for author in obj.author.prefetch_related %}
                                            <a href="{{ author.get_absolute_url }}">{{ author }}</a>
                                            {% endfor %}
                                        </td>
                                        <td>{{ obj.updated_at }}</td>
                                    {% else %}
                                        <td style="background-color: #ffdab9;"> <a href="{{ obj.get_absolute_url }}">КАТЕГОРИЯ</a></td>
                                        {% for i in 6|times %}
                                            <td style="background-color: #ffdab9;"></td>
                                        {% endfor %}
                                    {% endif %}

                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        {% endif %}

                        <div class="col-md-9">
                            {% if objects.has_other_pages %}
                            <nav aria-label="...">
                                <ul class="pagination">
                                    {% if objects.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?search_text={{ get_search_str }}&search_option={{ get_search_parameter }}&page={{ objects.previous_page_number }}"
                                           tabindex="-1"><<</a>
                                    </li>
                                    {% endif %}

                                    {% for page in objects.paginator.page_range %}
                                    {% if objects.number == page %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="?search_text={{ get_search_str }}&search_option={{ get_search_parameter }}&page={{ page }}">{{ page }} <span class="sr-only">(current)</span></a>
                                    </li>
                                    {% elif page > objects.number|add:-10 and page < objects.number|add:10 %}
                                    <li class="page-item">
                                        <a class="page-link" href="?search_text={{ get_search_str }}&search_option={{ get_search_parameter }}&page={{ page }}">{{ page }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}

                                    {% if objects.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?search_text={{ get_search_str }}&search_option={{ get_search_parameter }}&page={{ objects.next_page_number }}">>></a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</main>

{% endblock %}
