{% load icon %}

<style>
.showSearch {
    display: none;
}

.showSearch.active {
    display: block;
}

</style>

<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow fixed-top sticky-top p-0">
    <!--a class="navbar-brand" href="#"></a>
    <img src="" alt="`Лого" width="42" height="42"-->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse my-1" id="navbarsExampleDefault">
        <div class="nav-item text-nowrap px-1" data-toggle="tooltip" data-placement="bottom" title="Главная страница">
            <a class="nav-link btn btn-outline-primary btn-sm my-sm-0 text-white noborder" role="button"
               href="{% url 'lib_main' %}">
                <span>{% icon "home" class="css-class" height="1rem" width="1rem" %}</span>
            </a>
        </div>

        <div class="nav-item dropdown text-nowrap px-1" data-toggle="tooltip" data-placement="bottom" title="Меню">
            <a class="nav-link dropdown-toggle btn btn-outline-secondary btn-sm my-sm-0 text-white noborder removecaret"
               role="button"
               href="#" id="dropdown01"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>{% icon "menu" class="css-class" height="1rem" width="1rem" %}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="{% url 'lib_main' %}">
                    <span>{% icon "book-open" class="css-class" height="1rem" width="1rem" %}</span>
                    Библиотека решений
                </a>
                <a class="dropdown-item"
                   href="https://yandex.ru/images/search?text=%D0%BA%D0%BE%D1%82%D0%B8%D0%BA%D0%B8">
                    <span>{% icon "smile" class="css-class" height="1rem" width="1rem" %}</span>
                    just for fun...
                </a>
                <a class="dropdown-item" href="https://bootsnipp.com/snippets/2q81r">
                    Меню поиска
                </a>
                {% for menu_item in menu_global %}
                <a class="dropdown-item" href="{{menu_item.get_absolute_url}}">{{ menu_item.title }}</a>
                {%endfor%}
            </div>
        </div>

        <div class="nav-item text-nowrap px-1" data-toggle="tooltip" data-placement="bottom" title="Поиск" id="searchBtn">
            <a class="nav-link btn btn-outline-info btn-sm my-sm-0 text-white noborder" role="button">
                <span>{% icon "search" class="css-class" height="1rem" width="1rem" %}</span>
            </a>
        </div>

        <ul class="navbar-nav navbar-collapse mr-auto">
            <li class="text-nowrap px-1">
                <section class="search-sec">
                    <div class="container">
                        <form action="#" method="post" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-7 col-md-7 col-sm-12 p-0 showSearch">
                                            <input type="text" class="form-control search-slt "
                                                   placeholder="искать..." data-toggle="tooltip" data-placement="bottom" title="Поиск">
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 p-0 showSearch">
                                            <select class="form-control search-slt"
                                                    style="padding: 0 .75rem 0 1rem;" data-toggle="tooltip" data-placement="bottom" title="Опция поиска">
                                                <option>объект</option>
                                                <option>метка</option>
                                                <option>текст</option>
                                            </select>
                                        </div>
                                         <button class="btn btn-info col-lg-1 col-md-1 col-sm-12 p-0 my-sm-0  showSearch" type="submit" title="Искать">
                                            <span>{% icon "corner-down-left" class="css-class" height="1.125rem" width="1rem" %}</span>
                                         </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </li>
        </ul>

        <div class="nav-item text-nowrap px-1" data-toggle="tooltip" data-placement="bottom" title="Управление">
            <a class="nav-link btn btn-outline-success btn-sm my-sm-0 text-white noborder" role="button"
               href="/admin">
                <span>{% icon "settings" class="css-class" height="1rem" width="1rem" %}</span>
            </a>
        </div>

        {% if user.get_username == "" %}
        <div class="nav-item text-nowrap px-1" data-toggle="tooltip" data-placement="bottom" title="Вход">
            <a class="nav-link btn btn-outline-primary btn-sm my-sm-0 text-white noborder" role="button"
               href="/account/login">
                <span>{% icon "log-in" class="css-class" height="1rem" width="1rem" %}</span>
            </a>
        </div>
            <div class="nav-item text-nowrap px-1" data-toggle="tooltip" data-placement="bottom" title="Регистрация">
            <a class="nav-link btn btn-outline-success btn-sm my-sm-0 text-white noborder" role="button"
               href="/account/register">
                <span>{% icon "user-plus" class="css-class" height="1rem" width="1rem" %}</span>
            </a>

        </div>
            {% else %}
            <div class="nav-item text-nowrap px-1" data-toggle="tooltip" data-placement="bottom" title="Пользователь">
                <a class="nav-link btn btn-dark btn-sm my-sm-0 text-white noborder">{{ user.get_username }}</a>
            </div>
            {% endif %}

            {% if user.get_username != "" %}
            <div class="nav-item text-nowrap px-1" data-toggle="tooltip" data-placement="bottom" title="Выход">
                <a class="nav-link btn btn-outline-warning btn-sm my-sm-0 text-white noborder" role="button"
                   href="/account/logout">
                    <span>{% icon "log-out" class="css-class" height="1rem" width="1rem" %}</span>
                </a>
            </div>
            {% endif %}
    </div>
</nav>
